@page "/claims"
@using System.IdentityModel.Tokens.Jwt
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using System.Security.Claims;
@inject IAccessTokenProvider TokenProvider
@inject HttpClient Http

<PageTitle>Claims</PageTitle>

<section class="page">
    <h1>Claims</h1>
    <AuthorizeView>
        <Authorized>
            <h2>
                Hello @context.User.Identity!.Name,
                here's the list of your claims:
            </h2>
            <ul>
                @foreach (var claim in context.User.Claims)
                {
                    <li><b>@claim.Type</b>: @claim.Value</li>
                }
            </ul>

            @if (!string.IsNullOrEmpty(AccessToken))
            {
                <h3>Access Token</h3>
                <div style="overflow-wrap: break-word;">
                    @AccessToken
                </div>
            }
            @if (_jwtSecurityToken is not null)
            {
                <div>
                    <h4>Header</h4>
                    <ul>
                        @foreach (var x in _jwtSecurityToken.Header)
                        {
                            <li><strong>@x.Key: </strong>@x.Value</li>
                        }
                    </ul>
                </div>
                <div>
                    <h4>Payload</h4>
                    <ul>
                        @foreach (var x in _jwtSecurityToken.Payload)
                        {
                            <li><strong>@x.Key: </strong>@x.Value</li>
                        }
                    </ul>
                </div>
            }
            @if (webApiClaims is not null)
            {
                <h4>Web API Claims</h4>
                <ul>
                    @foreach (var c in webApiClaims)
                    {
                        <li><strong>@c.Type: </strong>@c.Value</li>
                    }
                </ul>
            }
        </Authorized>
        <NotAuthorized>
            <p>I'm sorry, I can't display anything until you log in</p>
        </NotAuthorized>
    </AuthorizeView>
</section>

@code {
    string AccessToken { get; set; } = string.Empty;
    JwtSecurityToken? _jwtSecurityToken;
    IEnumerable<ApiClaim>? webApiClaims = null!;

    protected override async Task OnInitializedAsync()
    {
        var accessTokenResult = await TokenProvider.RequestAccessToken();
        AccessToken = string.Empty;

        if (accessTokenResult.TryGetToken(out var token))
        {
            AccessToken = token.Value;
            var handler = new JwtSecurityTokenHandler();
            _jwtSecurityToken = handler.ReadJwtToken(AccessToken);
        }

        webApiClaims = await Http.GetFromJsonAsync<List<ApiClaim>>("/api/data/info");
    }

    record ApiClaim(string Type, string Value);
}