@page "/impediment/list"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Impediments</PageTitle>

<PageHeader Title="Impediments" Icon="@Icon.Impediment" ClassName="bi-impediment">
    <SubHeaderContent><h2>List</h2></SubHeaderContent>
    <ChildContent>
        <button class="btn btn-primary" @onclick="@(() => isCreating = true)">New</button>
        <button class="btn btn-danger" @onclick="DeleteAsync" disabled="@(isDeleting || !checkedIds.Any(x=>x.Value))">Delete</button>
    </ChildContent>
</PageHeader>
 @if (loadFailure)
{
    <div class="alert alert-danger" role="alert">
        Impediments failed to load.
    </div>
}
else if (impediments is not null)
{
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="row" class="col-width-min"></th>
                                    <th scope="row">Name</th>
                                    <th scope="row">Severity</th>
                                    <th scope="row">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var impediment in impediments.OrderByDescending(p => p.Severity).ThenByDescending(p => p.Value))
                                {
                                    <tr @key="impediment">
                                        <td><input type="checkbox" @bind-value="@checkedIds[impediment.Id]" /></td>
                                        <th scope="col"><a href="/impediment/view/@impediment.Id">@impediment.Name</a></th>
                                        <td>@impediment.Severity</td>
                                        <td>@impediment.Value</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (deleteFailedMsg is not null)
{
    <NotificationDialog OnClose="@(() => deleteFailedMsg = null)">
        @deleteFailedMsg
    </NotificationDialog>
}
@if (isCreating)
{
    <CreateModal OnClose="@((result) => isCreating = false)" OnCreated="Created" />
}
@code {
    List<ImpedimentListDto>? impediments;
    Dictionary<Guid, bool> checkedIds = new();

    string? deleteFailedMsg;
    bool loadFailure;

    bool isCreating;
    async Task Created(CreatedEventArgs<CreateImpedimentRequest> e)
    {
        if (e.Open)
        {
            var result = await e.Response.Content.ReadFromJsonAsync<ResponseWithId>()
                ?? throw new InvalidOperationException("Failed to deserialize.");

            //TabService.ResetTab(Scrum.Web.Blazor.Pages.Product.View.TabKey);
            Navigation.NavigateTo($"/impediment/view/{result.Id}");
        }

        await LoadAsync();

        isCreating = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    async Task LoadAsync()
    {
        try
        {
            impediments = await Http.GetFromJsonAsync<List<ImpedimentListDto>?>("/api/impediment")
                ?? throw new InvalidOperationException("Failed to load data.");

            checkedIds = impediments.ToDictionary(x => x.Id, _ => false);
        }
        catch
        {
            loadFailure = true;
        }
    }

    bool isDeleting;
    async Task DeleteAsync(MouseEventArgs e)
    {
        isDeleting = true;
        try
        {
            var response = await ApiHelpers.DeleteIdsAsync(checkedIds, Http, "/api/impediment");
            if (response is PostResponse.Success)
            {
                var idsToRemove = checkedIds.Where(x => x.Value).Select(x => x.Key);
                impediments!.RemoveAll(x => idsToRemove.Contains(x.Id));
                checkedIds = impediments.ToDictionary(x => x.Id, _ => false);
                //await LoadAsync();
            }
            else
            {
                deleteFailedMsg = response is PostResponse.BadRequest br
                    ? br.ErrorMessage
                    : $"Delete failed!";
            }
        }
        finally
        {
            isDeleting = false;
        }
    }

}
